@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: blanchedalmond;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    margin: 0; 
}

header {
    background-color: rgb(92, 172, 218);
    margin-top: 0;
    margin-bottom: 3%;
    max-height: 15%;
}

.nav-link {
    color: black;
    font-weight: bold;
}

#usuarioLogado {
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

#usuarioLogado p {
    margin: 0;
    padding: 0;
}

#usuarioLogado h6 {
    margin: 0;
    padding: 0;
}

header .container {
    margin-right: 0;
}

#titulo {
    margin-top: 0;
    margin-left: 3%;
}

