.btn {
  margin-top: 1%;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}

.linhaSelecionada {
  background-color: #b9b9b9; /* Cor de fundo para linha selecionada */
}

table tbody tr:hover {
  background-color: #b9b9b9;
  cursor: pointer;
}

table {
  background-color: white;
}

/* CODIGOS BOOTSTRAP */ 
/* Necessário sobreescrever as classes do bootstrap para que o background-color do comportamento "hover" e da classe "linhaSelecionada" funcionassem */

.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
  }
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  .table tbody + tbody {
    border-top: 2px solid #dee2e6;
  }
  .table-sm th,
  .table-sm td {
    padding: 0.3rem;
  }
  .table-bordered {
    --bs-table-border-width: 1px;
    border: var(--bs-table-border-width) solid #dee2e6;
  }
  .table-bordered th,
  .table-bordered td {
    border: var(--bs-table-border-width) solid #dee2e6;
  }
  .table-bordered thead th,
  .table-bordered thead td {
    border-bottom-width: calc(var(--bs-table-border-width) * 2);
  }
  .table-borderless th,
  .table-borderless td,
  .table-borderless thead th,
  .table-borderless tbody + tbody {
    border: 0;
  }
  .table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: var(--bs-table-striped-bg);
    color: var(--bs-table-striped-color);
    background-color: var(--bs-table-accent-bg);
  }
  .table-active {
    --bs-table-accent-bg: var(--bs-table-active-bg);
    color: var(--bs-table-active-color);
    background-color: var(--bs-table-accent-bg);
  }
  .table-hover > tbody > tr:hover > * {
    background-color: black;
    --bs-table-accent-bg: var(--bs-table-hover-bg);
    color: var(--bs-table-hover-color);
    background-color: var(--bs-table-accent-bg);
  }
  .table-primary,
  .table-primary > th,
  .table-primary > td {
    --bs-table-bg: #cfe2ff;
    --bs-table-striped-bg: #c5d7f2;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #bacbe6;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #bfd1ec;
    --bs-table-hover-color: #000;
    color: #000;
    background-color: var(--bs-table-bg);
  }
  .table-secondary,
  .table-secondary > th,
  .table-secondary > td {
    --bs-table-bg: #e2e3e5;
    --bs-table-striped-bg: #d7d8da;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #cbccce;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #d1d2d4;
    --bs-table-hover-color: #000;
    color: #000;
    background-color: var(--bs-table-bg);
  }
  .table-success,
  .table-success > th,
  .table-success > td {
    --bs-table-bg: #d1e7dd;
    --bs-table-striped-bg: #c7dbd2;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #bcd0c7;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #c1d6cc;
    --bs-table-hover-color: #000;
    color: #000;
    background-color: var(--bs-table-bg);
  }
  .table-info,
  .table-info > th,
  .table-info > td {
    --bs-table-bg: #cff4fc;
    --bs-table-striped-bg: #c5e8ef;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #badce3;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #bfe2e9;
    --bs-table-hover-color: #000;
    color: #000;
    background-color: var(--bs-table-bg);
  }
  .table-warning,
  .table-warning > th,
  .table-warning > td {
    --bs-table-bg: #fff3cd;
    --bs-table-striped-bg: #f2e7c3;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #e6dbb9;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #ece1be;
    --bs-table-hover-color: #000;
    color: #000;
    background-color: var(--bs-table-bg);
  }
  .table-danger,
  .table-danger > th,
  .table-danger > td {
    --bs-table-bg: #f8d7da;
    --bs-table-striped-bg: #ecbfc2;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #dfb7ba;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #e5bdc0;
    --bs-table-hover-color: #000;
    color: #000;
    background-color: var(--bs-table-bg);
  }
  .table-light,
  .table-light > th,
  .table-light > td {
    --bs-table-bg: #f8f9fa;
    --bs-table-striped-bg: #ecedee;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #dfe0e1;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #e5e6e7;
    --bs-table-hover-color: #000;
    color: #000;
    background-color: var(--bs-table-bg);
  }
  .table-dark,
  .table-dark > th,
  .table-dark > td {
    --bs-table-bg: #212529;
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: #fff;
    background-color: var(--bs-table-bg);
  }
  .table-hover .table-primary:hover {
    --bs-table-accent-bg: var(--bs-table-hover-bg);
    color: var(--bs-table-hover-color);
    background-color: var(--bs-table-accent-bg);
  }
  .table-hover .table-secondary:hover {
    --bs-table-accent-bg: var(--bs-table-hover-bg);
    color: var(--bs-table-hover-color);
    background-color: var(--bs-table-accent-bg);
  }
  .table-hover .table-success:hover {
    --bs-table-accent-bg: var(--bs-table-hover-bg);
    color: var(--bs-table-hover-color);
    background-color: var(--bs-table-accent-bg);
  }
  .table-hover .table-info:hover {
    --bs-table-accent-bg: var(--bs-table-hover-bg);
    color: var(--bs-table-hover-color);
    background-color: var(--bs-table-accent-bg);
  }
  .table-hover .table-warning:hover {
    --bs-table-accent-bg: var(--bs-table-hover-bg);
    color: var(--bs-table-hover-color);
    background-color: var(--bs-table-accent-bg);
  }
  .table-hover .table-danger:hover {
    --bs-table-accent-bg: var(--bs-table-hover-bg);
    color: var(--bs-table-hover-color);
    background-color: var(--bs-table-accent-bg);
  }
  .table-hover .table-light:hover {
    --bs-table-accent-bg: var(--bs-table-hover-bg);
    color: var(--bs-table-hover-color);
    background-color: var(--bs-table-accent-bg);
  }
  .table-hover .table-dark:hover {
    --bs-table-accent-bg: var(--bs-table-hover-bg);
    color: var(--bs-table-hover-color);
    background-color: var(--bs-table-accent-bg);
  }
  .table-hover .table-active:hover {
    --bs-table-accent-bg: var(--bs-table-hover-bg);
    color: var(--bs-table-hover-color);
    background-color: var(--bs-table-accent-bg);
  }
  .table .table {
    --bs-table-bg: transparent;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-striped-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-active-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    --bs-table-hover-color: #212529;
    background-color: var(--bs-table-bg);
  }